<header-bar-supreme-english></header-bar-supreme-english>
<left-side-bar-english></left-side-bar-english>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Annual Holidays Setup
            <small>Add mobile app user profile</small>
          </h1>
        <ol class="breadcrumb">
            <li><a><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Annual Hoildays</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="box box-default">
            <div class="box-body">
                <div class="alert alert-success" ng-show="showSuccessAlert">
                          <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">×</button>
                          <strong>Holiday added successfuly</strong> 
                    </div>
                    <div class="alert alert-danger" ng-show="showSuccessAlertDelete">
                          <button type="button" class="close" data-ng-click="switchBool('showSuccessAlertDelete')">×</button>
                          <strong>Holiday deleted successfuly</strong> 
                    </div>
                <div class="form-horizontal">
                    <div class="row form-group">
                        <label for="inputName" class="col-sm-2 control-label">Start Date</label>
                        <div class="col-sm-4 input-group" style="padding:0px 15px">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="date" ng-model="startdate" value="{{startdate}}"  class="form-control datepicker"  autocomplete="off">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="inputName" class="col-sm-2 control-label">End Date</label>
                        <div class="col-sm-4 input-group" style="padding:0px 15px">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="date" ng-model="enddate" value={{enddate}} class="form-control datepicker"  autocomplete="off">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="inputName" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-4">
                            <input type="text" ng-model="ttl"  ng-value="ttl" class="form-control" placeholder="title..." autocomplete="off">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-4">
                            <div class="btn btn-primary" ng-show="saveBtnShow" ng-class="{'spinner-wave' : loaderr == true}" ng-click="addAnnualHolday()" ><span ng-if="!loaderr" class="ng-scope"><i class="fa fa-save"></i></span> Save
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                         <div ng-show="updateBtnShow" class="btn btn-primary"  ng-click="update1()" > <i class="fa fa-save"></i> Update</div>
                        </div>
                    </div>
                </div>
                <div ng-show="showgrid">
                    <table class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th class="bg-gray-light sorting">Title</th>
                                <th class="bg-gray-light sorting">Start Date</th>
                                <th class="bg-gray-light sorting">End Date</th>
                                <th class="bg-gray-light sorting">Update Action</th>
                                <th class="bg-gray-light sorting">Delete Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in allHolidays" ng-if="!isDataLoading">
                                <td>{{x.Title}}</td>
                                <td>{{x.StartDate | date:'MM/dd/yyyy'}}</td>
                                <td>{{x.EndDate | date:'MM/dd/yyyy'}}</td>
                                <td><div class="btn btn-primary"  ng-click="navigateToUpdateHoliday(x)"> Update</div></td>
                                 <td><div class="btn btn-primary" ng-click="deleteHoliday(x.Id)" ><i class="fa fa-trash"></i> Delete</div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div ng-if="isDataLoading" style="width: 100px; margin: auto;">
            <img src="assets/loader.gif" style="width: 100px; height: 100px;">
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer-bar-english></footer-bar-english>
